{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "withNodeModules": true,
  "singleAttributePerLine": false,
  "experimentalTernaries": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/colors.css",
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": true
}
