@import "../../colors.css";

.loader {
  animation: rotation 1s linear infinite;
  /* margin: 0 calc(100vw - 100%); */
  margin: auto;
  @apply box-border size-20 rounded-full border-8 border-white border-b-secondary shadow;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
